/* Global variables */
:root {

	/* Colors */
	--gray-0: #000000cc;
	--gray-50: #141925;
	--gray-100: #283044;
	--gray-200: #3d4663;
	--gray-300: #505d84;
	--gray-400: #6474a2;
	--gray-500: #8490b5;
	--gray-600: #a3acc8;
	--gray-700: #c3cadb;
	--gray-800: #e3e6ee;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: #ffffff;
	--bg-color: #ffffff;
	--accent-regular: #ab4e4f;

	--active: #56c096;
	--accent-text-over: var(--gray-999);
	--secondary-text-color: #00000099;
	--link-color: var(--gray-100);
	--image-shade: #e8e6e6;
	--card-border: #e1e4e8;
	--card-title: #001aff;
	--card-content-color: #000000d9;


	/* Shadows */
	--shadow-sm:
		0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md:
		0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg:
		0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	/* Text Sizes */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.35rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-system:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--font-body: "Raleway", var(--font-system);
	--font-brand: "Roboto Slab", var(--font-system);
	font-optical-sizing: auto;
	/* Transitions */
	--theme-transition: 0.3s ease-in-out;

	/* Custom Carousel */
	--carousel-dot-color: var(--gray-700);
	--carousel-dot-active-color: var(--gray-50);

	--carousel-arrow-bg-color: transparent;
	--carousel-arrow-border-color: var(--card-border);
	--carousel-arrow-color: var(--card-content-color);

	--carousel-dot-size: 10px;
	--carousel-dots-spacing: 16px;
	--carousel-dots-bottom: -30px;
	--carousel-arrow-dimension: 40px;
	--carousel-arrows-left: 0;
	--carousel-arrows-right: 0;
	--carousel-arrows-top: 35%;
	--carousel-arrows-bottom: auto;
	--carousel-arrows-display: flex;
	--carousel-arrow-radius: 50%;
}

:root.theme-dark {
	--gray-0: #ffffff;
	--gray-50: #f3f4f7;
	--gray-100: #e3e6ee;
	--gray-200: #c3cadb;
	--gray-300: #a3acc8;
	--gray-400: #8490b5;
	--gray-500: #6474a2;
	--gray-600: #505d84;
	--gray-700: #3d4663;
	--gray-800: #283044;
	--gray-900: #141925;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999: #090b11;

	--bg-color: #181a1b;
	--secondary-text-color: #ffffff99;

	--card-border: #373c3e;
	--card-content-color: #ffffffd9;
	--card-title: #86b5ff;

	--accent-regular: #ab4e4f;

	--active: #8CC7AF;
	--accent-text-over: var(--gray-0);
	--image-shade: #26292a;
	--link-color: var(--gray-100);

	/* Custom Carousel */


	/* shadows */
	--shadow-sm:
		0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md:
		0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg:
		0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);

}

html,
body {
	overflow-x: hidden;
}

body {
	width: 100vw;
	margin: 0;
	transition: var(--theme-transition);
	background-color: var(--bg-color);
	color: var(--gray-0);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}


.wrapper {
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
	overflow-x: hidden;
	scrollbar-width: none;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	position: relative;
	scroll-snap-stop: always;
	padding-inline: 2rem;

}

@media (min-width: 50em) {
	.wrapper {
		padding-inline: 1.5rem;

	}
}

.section {
	width: 100%;
	min-height: 70%;
	height: max-content;
	margin-top: 30%;
	margin-bottom: 5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.section-header {
	max-width: 50ch;
	font-size: var(--text-md);
	color: var(--gray-0);
	font-family: var(--font-body);
	font-weight: 700;
	margin-bottom: 1.1rem;
}


@media (min-width: 50em) {
	.section {
		height: 100%;
		scroll-snap-align: start;
		scroll-snap-stop: always;
		scroll-behavior: smooth;
		margin-top: 0;
		margin-bottom: 0;
		scroll-padding-top: 136px;
		max-width: 70rem;
		margin-inline: auto;
	}

	.section-header {
		grid-area: header;
		font-size: 24px;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}



h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 600;
	color: var(--gray-100);
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}


.gap-2 {
	gap: 0.5rem;
}

.gap-4 {
	gap: 1rem;
}

.gap-8 {
	gap: 2rem;
}

.gap-10 {
	gap: 2.5rem;
}

.gap-15 {
	gap: 3.75rem;
}

.gap-20 {
	gap: 5rem;
}

.gap-30 {
	gap: 7.5rem;
}

.gap-48 {
	gap: 12rem;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}

	.lg\:gap-4 {
		gap: 1rem;
	}

	.lg\:gap-8 {
		gap: 2rem;
	}

	.lg\:gap-10 {
		gap: 2.5rem;
	}

	.lg\:gap-15 {
		gap: 3.75rem;
	}

	.lg\:gap-20 {
		gap: 5rem;
	}

	.lg\:gap-30 {
		gap: 7.5rem;
	}

	.lg\:gap-48 {
		gap: 12rem;
	}
}