---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import About from "../components/home/About.astro";
import { SITE_DATA } from "@data/siteData";
import ContactMe from "@components/home/ContactMe.astro";
import Experiences from "@components/home/Experiences.astro";
import Projects from "@components/home/Projects.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout
	title={SITE_DATA.seo.homeTitle}
	description={SITE_DATA.seo.description}
>
	<Nav showNavMenu={true} />
	<div class="wrapper">
		<About />
		<Experiences />
		<Projects />
		<ContactMe />
	</div>
</BaseLayout>
