---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DATA } from "@data/siteData";
import AboutCard from "@components/home/AboutCard.astro";
import HeroCard from "@components/home/HeroCard.astro";
import ProjectsCard from "@components/home/ProjectsCard.astro";
import ExperiencesCard from "@components/home/ExperiencesCard.astro";
import ContactCard from "@components/home/ContactCard.astro";
import SiteInfoCard from "@components/home/SiteInfoCard.astro";
---

<BaseLayout
	title={SITE_DATA.seo.homeTitle}
	description={SITE_DATA.seo.description}
>
	<div class="background"></div>
	<div class="wrapper">
		<div class="main">
			<HeroCard />
			<AboutCard />
			<ProjectsCard />
			<ExperiencesCard />
			<ContactCard />
			<SiteInfoCard />
		</div>
	</div>
</BaseLayout>

<style>
	.wrapper {
		position: relative;
		width: 100vw;
		margin: auto;
		padding: 0;
		overflow-x: hidden;

		@media (min-width: 1024px) {
			height: 100vh;
		}
	}
	.main {
		display: grid;
		position: relative;
		padding: 1.5rem;
		gap: 0.5rem;
		width: 100%;
		height: 100%;
		max-width: 74rem;
		margin-inline: auto;

		@media (min-width: 640px) {
			gap: 0.5rem;
		}
		@media (min-width: 768px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 0.75rem;
		}
		@media (min-width: 1024px) {
			grid-template-rows: repeat(8, minmax(0, 1fr));
			grid-template-columns: repeat(4, minmax(0, 1fr));
			gap: 1rem;
			max-height: 800px;
			margin: auto;
		}
	}
	:root {
		--bg-width: 50px;
		--bg-height: 50px;
	}
	/* Animations */
	@-webkit-keyframes bg-scrolling-reverse {
		100% {
			background-position: var(--bg-width) var(--bg-height);
		}
	}
	@-moz-keyframes bg-scrolling-reverse {
		100% {
			background-position: var(--bg-width) var(--bg-height);
		}
	}
	@-o-keyframes bg-scrolling-reverse {
		100% {
			background-position: var(--bg-width) var(--bg-height);
		}
	}
	@keyframes bg-scrolling-reverse {
		100% {
			background-position: var(--bg-width) var(--bg-height);
		}
	}

	.background {
		background-image: var(--about-bg-block);
		width: 100vw;
		height: 100vh;
		justify-self: normal;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all var(--theme-transition);
		opacity: 0.5;
		-webkit-animation: bg-scrolling-reverse 30s infinite; /* Safari 4+ */
		-moz-animation: bg-scrolling-reverse 30s infinite; /* Fx 5+ */
		-o-animation: bg-scrolling-reverse 30s infinite; /* Opera 12+ */
		animation: bg-scrolling-reverse 30s infinite; /* IE 10+ */
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
		-o-animation-timing-function: linear;
		animation-timing-function: linear;
	}
</style>
