---
import Image from "astro/components/Image.astro";
import avatarImg from "../../images/profile.png";
import { SITE_DATA } from "@data/siteData";
---

<section class="section profile" id="about">
    <div>
        <header class="section-title">
            Hello,<br />
            My name is <span style="color: var(--accent-regular);">
                {SITE_DATA.home.about.name}
            </span>
        </header>
        <p>
            A minimal and sleek portfolio template designed to showcase your
            work in style. I'm built for performance, scoring 100% score on
            Lighthouse.
        </p>
        <p>
            I accomplish this through responsive images and efficient loading of
            CSS, JavaScript, and fonts.
        </p>
        <p>
            Feel free to customize me to fit your needs. I'm open source and
            available on
            <span>
                <a class="link" href="https://github.com/dmouayad/one">GitHub</a
                >
            </span>
        </p>
    </div>
    <div class="img-wrapper">
        <Image
            src={avatarImg}
            alt={SITE_DATA.home.about.name}
            width={450}
            height={450}
            loading={"eager"}
            decoding={"async"}
            fetchpriority={"high"}
        />
        <div class="img-shade"></div>
    </div>
</section>
<style>
    .profile {
        position: relative;
        display: grid;
        align-items: center;
    }
    .profile p {
        margin-bottom: 8px;
        font-size: var(--text-sm);
        color: var(--secondary-text-color);
    }
    .profile .img-shade {
        background: var(--image-shade);
        position: absolute;
        width: 90%;
        height: 90%;
        top: 30%;
        left: 30%;
        z-index: -999;
    }

    .profile .img-wrapper {
        max-width: 300px;
        justify-self: normal;
        position: relative;
        width: 80%;
    }
    a.link {
        color: var(--accent-regular);
        font-weight: bold;
    }
    @media (min-width: 50em) {
        .profile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3rem;
            align-items: center;
            justify-content: space-between;
        }
        .profile p {
            font-size: var(--text-base);
        }
        .profile .img-wrapper {
            justify-self: center;
        }
    }
</style>
