---
import { SITE_DATA } from "@data/siteData";
---

<section class="section profile" id="about">
    <div>
        <header
            class="section-title"
            style="line-height: 1.1;margin-bottom:1.7rem;"
        >
            Hello,<br />
            My name is {SITE_DATA.home.about.name}
        </header>
        <p>I'm a freelance Flutter developer.</p>
        <p>
            I love open-source and I'm actively contributing to many Flutter
            packages.
        </p>
        <p>
            Feel free to reach out via <span>
                <a
                    class="link"
                    href={`mailto:${SITE_DATA.home.contactMe.email}`}>MAIL</a
                >
            </span> if you need any help or have a project in mind.
        </p>
    </div>
    <div class="img-wrapper">
        <div class="img-shade"></div>
    </div>
</section>
<style>
    .profile {
        position: relative;
        display: grid;
        align-items: center;
    }
    .profile p {
        margin-bottom: 8px;
        font-size: var(--text-sm);
        color: var(--secondary-text-color);
        max-width: 500px;
    }
    .profile .img-shade {
        background: var(--image-shade);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 30%;
        left: 30%;
        z-index: -999;
        background-image: var(--about-bg-block);
        transition: all var(--theme-transition);

        -webkit-animation: bg-scrolling-reverse 10s infinite; /* Safari 4+ */
        -moz-animation: bg-scrolling-reverse 10s infinite; /* Fx 5+ */
        -o-animation: bg-scrolling-reverse 10s infinite; /* Opera 12+ */
        animation: bg-scrolling-reverse 10s infinite; /* IE 10+ */
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    :root {
        --bg-width: 50px;
        --bg-height: 50px;
    }
    /* Animations */
    @-webkit-keyframes bg-scrolling-reverse {
        100% {
            background-position: var(--bg-width) var(--bg-height);
        }
    }
    @-moz-keyframes bg-scrolling-reverse {
        100% {
            background-position: var(--bg-width) var(--bg-height);
        }
    }
    @-o-keyframes bg-scrolling-reverse {
        100% {
            background-position: var(--bg-width) var(--bg-height);
        }
    }
    @keyframes bg-scrolling-reverse {
        100% {
            background-position: var(--bg-width) var(--bg-height);
        }
    }

    @-webkit-keyframes bg-scrolling {
        0% {
            background-position: var(--bg-width) var(--bg-height);
        }
    }
    @-moz-keyframes bg-scrolling {
        0% {
            background-position: var(--bg-width) var(--bg-height);
        }
    }
    @-o-keyframes bg-scrolling {
        0% {
            background-position: var(--bg-width) var(--bg-height);
        }
    }
    @keyframes bg-scrolling {
        0% {
            background-position: var(--bg-width) var(--bg-height);
        }
    }
    .profile .img-wrapper {
        background-image: var(--about-bg-block);
        max-width: 400px;
        height: 400px;
        justify-self: normal;
        position: relative;
        width: 80%;
        transition: all var(--theme-transition);

        -webkit-animation: bg-scrolling-reverse 10s infinite; /* Safari 4+ */
        -moz-animation: bg-scrolling-reverse 10s infinite; /* Fx 5+ */
        -o-animation: bg-scrolling-reverse 10s infinite; /* Opera 12+ */
        animation: bg-scrolling-reverse 10s infinite; /* IE 10+ */
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    a.link {
        color: var(--accent-regular);
        font-weight: 500;
    }
    @media (min-width: 50em) {
        .profile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3rem;
            align-items: center;
            justify-content: space-between;
        }
        .profile p {
            font-size: var(--text-base);
        }
    }
</style>
