---
import { type CollectionEntry } from "astro:content";
import PopupContent from "./PopupContent.astro";

interface Props {
    id: string;
    item: CollectionEntry<"experience">;
}
const { id, item } = Astro.props;
---

<section id={id} class="popup">
    <PopupContent entry={item} />
</section>
<script>
    const closeBtns = document.querySelectorAll("#close-popup-btn");
    for (const closeBtn of closeBtns) {
        const popoverId = document.querySelector("section.popup")?.id;
        if (popoverId) {
            const popover = document.getElementById(popoverId);
            closeBtn?.addEventListener("click", () => {
                popover?.hidePopover();
            });
        }
    }
</script>

<style is:global>
    [popover] {
        transition:
            display 0.3s,
            opacity 0.3s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 0;
        transition-behavior: allow-discrete;
        background-color: var(--bg-color);
        width: 100%;
        max-width: 74rem;
        margin: auto;
        height: 730px;
        border-radius: 8px;
        border: 2px solid var(--card-border);
    }
    [popover]:popover-open {
        opacity: 1;
        @starting-style {
            opacity: 0;
        }
    }
</style>
