---
import { getCollection } from "astro:content";
import CardCarousel from "@components/CardCarousel.astro";
import { Icon } from "astro-icon/components";

// Content Fetching: List four most recent projects
const projects = (await getCollection("project")).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<section class="section" id="projects">
    <header class="section-title">Projects.</header>
    <div class="row">
        <p class="section-subtitle">
            These are some of my open-source projects.
        </p>
        <!-- replace with your own github link, username and avatar image.-->
        <a
            href="https://github.com/dmouayad"
            target="_blank"
            rel="noopener noreferrer"
        >
            <div class="github-card">
                <Icon name="carbon:logo-github" width="54" height="54" />
                <div>
                    <p class="name">Mouayad Alhamwi</p>
                    <p class="github-username">@dmouayad</p>
                </div>
            </div>
        </a>
    </div>
    <CardCarousel
        carouselId="projectsSlider"
        desktopItemPerSlide={6}
        mobileItemPerSlide={2}
        items={projects}
        cardType="project"
        mobileCardHeight={250}
    />
</section>

<style>
    .row {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
    .row a {
        text-decoration: none;
        color: var(--gray-0);
    }
    .github-card {
        display: flex;
        gap: 12px;
        align-items: center;
        border: 2px solid transparent;
        padding: 4px 8px;
        border-radius: 5px;
        transition: border-color 0.2s ease-in-out;
    }
    .github-card img {
        border-radius: 100%;
    }
    .name {
        font-size: var(--text-base);
        font-weight: 600;
    }
    .github-username {
        font-size: var(--text-sm);
        color: var(--secondary-text-color);
    }
    .github-card:hover {
        border-color: var(--gray-200);
    }
    @media (min-width: 50em) {
        .row {
            flex-direction: row;
            gap: 0;
            align-items: center;
            justify-content: space-between;
        }
    }
</style>
