---
import Card from "@components/Card.astro";
const currentYear = new Date().getFullYear();
---

<Card>
    <p style="font-size: var(--text-xs);">
        © {currentYear} . Crafted in Damascus, Syria using
        <a href="https://astro.build" style="color:var(--accent-regular);">
            Astro</a
        > by
        <a href="https://github.com/dmouayad" target="_blank">Me </a>
    </p>
</Card>

<style>
    p {
        text-align: center;

        color: var(--gray-100);
    }
    a {
        color: var(--gray-100);
    }
</style>
