---
import Card from "@components/Card.astro";
const currentYear = new Date().getFullYear();
---

<Card>
    <p style="font-size: var(--text-xs);">
        © {currentYear} . Crafted in Damascus, Syria using
        <a href="https://astro.build" style="color:var(--red);"> Astro</a>
    </p>
</Card>

<style>
    p {
        text-align: center;

        color: var(--gray-0);
    }
    a {
        color: var(--gray-0);
    }
</style>
