---
interface Props {
    title?: string;
    contentGap?: string;
    contentJustify?: string;
}
const {
    title,
    contentGap = "0.5rem",
    contentJustify = "space-around",
} = Astro.props;
---

<div class="card">
    {title && <div class="card-title">{title}</div>}
    <div
        class="content"
        style={`gap: ${contentGap}; justify-content: ${contentJustify}`}
    >
        <slot />
    </div>
</div>

<style>
    .card {
        height: 100%;
        overflow: hidden;
        background-color: var(--card-bg-color);
        border-radius: 18px;
        border: 1px solid var(--card-border);
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        font-size: var(--text-sm);
        transition: all var(--theme-transition);
    }
    .card:hover {
        border-color: var(--accent-regular);
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 0.7rem;
        height: 100%;
        width: 100%;
        font-weight: 400;
    }

    .card-title {
        font-size: 20px;
        font-weight: 700;
        color: var(--accent-regular);
        margin-bottom: 0.25rem;
        font-family: var(--font-brand);
    }
</style>
