---
import { Icon } from "astro-icon/components";

interface Props {
    showSocials?: boolean;
}
const { showSocials = false } = Astro.props;
---

<footer class={showSocials ? "" : "no-socials"}>
    <div class="group">
        <p>
            Designed & Developed by <a href="https://github.com/DMouayad">
                <span>
                    <Icon name="carbon:logo-github" />
                </span>
                Mouayad Alhamwi</a
            >
        </p>
    </div>
    {
        showSocials && (
            <p class="socials">
                <a href="https://github.com/dmouayad"> GitHub</a>
                <a href="https://codepen.io/dmouayad"> CodePen</a>
            </p>
        )
    }
</footer>
<style>
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin-top: auto;
        padding-block: 3rem;
        text-align: center;
        color: var(--gray-0);
        font-weight: 400;
        font-size: 13px;
    }
    footer.no-socials {
        justify-content: center !important;
    }
    footer a {
        color: var(--accent-regular);
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    footer a:hover,
    footer a:focus {
        text-decoration-color: currentColor;
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .socials {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    @media (min-width: 50em) {
        footer {
            flex-direction: row;
            justify-content: space-between;
            padding: 2.5rem 0;
        }

        .group {
            flex-direction: row;
            gap: 1rem;
            flex-wrap: wrap;
        }

        .socials {
            justify-content: flex-end;
        }
    }
</style>
