---
import { SITE_DATA } from "@data/siteData";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="site-header">
    <a href="/" class="site-title"> {SITE_DATA.navTitle} </a>

    <ThemeToggle />
</div>

<style>
    .site-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;
        grid-row: span 1 / span 1;
        grid-column: span 4 / span 4;
    }
    .site-header a {
        color: var(--gray-0);
        font-size: var(--text-lg);
        font-weight: 600;
        text-decoration: none;
    }
</style>
