---
import { Icon } from "astro-icon/components";
---

<theme-toggle>
	<button>
		<span class="sr-only">Toggle theme</span>
		<span class="icon light"
			><Icon size={20} name="carbon:sun" stroke="currentColor" /></span
		>
		<span class="icon dark"><Icon size={20} name="carbon:moon" /></span>
	</button>
</theme-toggle>

<style>
	button {
		position: relative;
		border: none;
		padding: 0;
		margin-bottom: 6px;
		cursor: pointer;
		background-color: var(--bg-color);
		width: 2.1rem;
		height: 2.1rem;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease-out;
	}

	button:hover {
		transform: scale(1.1);
		.icon {
			color: var(--gray-0);
		}
	}

	.icon {
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--secondary-text-color);
		transition:
			color 0.5s ease,
			transform 1.5s cubic-bezier(0.34, 1.56, 0.64, 1),
			opacity 0.5s ease-out;
	}

	/* Show moon icon in light theme */
	.icon.dark {
		opacity: 1;
		transform: translateY(0) scale(1) rotate(8deg);
	}

	.icon.light {
		opacity: 0;
		transform: translateY(-100%) scale(0.5) rotate(180deg);
	}

	/* Show sun icon in dark theme */
	:global(.theme-dark) .icon.light {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	:global(.theme-dark) .icon.dark {
		opacity: 0;
		transform: translateY(100%) scale(0.5) rotate(180deg);
	}
</style>

<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();

			const button = this.querySelector("button")!;

			/** Set the theme to dark/light mode. */
			const setTheme = (dark: boolean) => {
				document.documentElement.classList[dark ? "add" : "remove"](
					"theme-dark",
				);
				button.setAttribute("aria-pressed", String(dark));
			};

			// Toggle the theme when a user clicks the button.
			button.addEventListener("click", () => setTheme(!this.isDark()));

			// Initialize button state to reflect current theme.
			setTheme(this.isDark());
		}

		isDark() {
			return document.documentElement.classList.contains("theme-dark");
		}
	}
	customElements.define("theme-toggle", ThemeToggle);
</script>
